@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
.news-list {
  max-width: 900px;
  margin: 0px auto;
  display: flex;
  justify-content: unset;
  border-left: 0.5px solid var(--card-border);
  border-right: 0.5px solid var(--card-border);
  border-bottom: 0.5px solid var(--card-border);
}

.news-list:hover {
  background-color: var(--inactive-color);
}

.news-list-left {
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-list-img-container{
    max-width: 144px;
    min-width: 144px;
    height: 108px;
    overflow: hidden;
    
}

.news-list-img {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.news-list-share-icon-container{
    margin-top: 8px; 
}

.news-list-share-icon{
    padding: 3px;
    margin: 2px;
    font-weight: 600;
    border-radius: 50%;
    border: 1px solid var(--gray);
    color: var(--tag-blue);
}

.news-list-share-icon:hover{
    background-color: var(--tag-blue);
    cursor: pointer;
    color: var(--primary-bg);
}

.whatsapp{
  color: #00E676;
 }

 .whatsapp:hover{
  color: var(--primary-bg);
  background-color:#00E676;
 
 }

.news-list-right{
  margin-left: 8px;
  margin-top: 8px;
}

.news-list-title-container{
  height: auto;
}

.news-list-title{
  font-family: 'Eczar', serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  color: var(--inactive-text);
  text-decoration: none;
}

@media (max-width: 480px) {
  .news-list-title{
    padding-right: 8px;
    font-size: 17px;
    line-height: 24px;
  }

  .news-list-img-container{
    max-width: 108px;
    min-width: 108px;
    height: 80px;
}
}

.news-list-category-container{
  margin-top: 8px;
  position: absolute;
 
}

.news-list-category{
  position: relative;
  top: 58px;
  left: 580px;
  right: 120px;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-bg);
  background-color: var(--thebulletins-blue);
  border-radius: 4px;
  padding: 0px 6px;
  letter-spacing: 1px;
}
